:root {
    --primary: #4c85c7;
    --secondary: #71E5E5;
    --accent: #9BFCEB;
    --button: #4BDEC3;
    --hover-tile: #BBEFEF;
    --text: #000000;
    --background: #ccc;
    --main-tile: #A7BBD3;
}

[data-theme="dark"] {
    --primary: #2D4158;
    --secondary: #1A8E8E;
    --accent: #036351;
    --button: #1F9B85;
    --hover-tile: #365656;
    --text: #FFFFFF;
    --background: #232a2a;
    --main-tile: #2c4058;
}