<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% if GA_TRACKING_ID %}
    <!-- Google Analytics GA4 tag -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GA_TRACKING_ID }}');
    </script>
    {% endif %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
